.social_media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 107px;
    background-color: rgb(235, 229, 229);


}

.disclaimer {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    height: 114px;
    background-color: rgb(3, 70, 70);

}

.disclaimer>p {
    color: azure;
    margin-bottom: 50px;
}

.social-links {

    list-style: none;
}

li {


    font-size: 20px;
    margin-right: 77px;
    float: left;
}

li>a {
    color: rgb(109, 145, 133);
    text-decoration: none;

}

li>a:hover {
    color: rgb(125, 146, 139);
    ;

}



ul {
    margin-left: 15px;
}